<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>NFA</title>

  <!-- Favicons -->
  <link href={% static "/dashio/img/favicon.png" %} rel="icon">
  <link href={% static "/dashio/img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href={% static "/dashio/lib/bootstrap/css/bootstrap.min.css" %}  rel="stylesheet">
  <!--external css-->
  <link href={% static "/dashio/lib/font-awesome/css/font-awesome.css" %} rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href={% static "/dashio/css/style.css" %}  rel="stylesheet">
  <link href={% static "/dashio/css/style-responsive.css" %}  rel="stylesheet">
  
  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>
<body>
    <section id="container">
      <!-- **********************************************************************************************************************************************************
          TOP BAR CONTENT & NOTIFICATIONS
          *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>NextFood <span>Africa</span></b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
          <!--  notification start -->
        
          <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            {%if user.is_authenticated %}
            <li><a class="logout" href="{%url "logout" %}">Logout</a></li>
            {% else %}

    {% endif %}
        </ul>
        </div>
      </header>
      <!--header end-->
      <!-- **********************************************************************************************************************************************************
          MAIN SIDEBAR MENU
          *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse ">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="/media/{{ user_logged.profile_pic }}" class="img-circle" width="80"></a></p>
            <h5 class="centered">{{user.first_name}} {{user.last_name}}</h5>
            <li class="mt">
              <a href="{% url 'dashboard' %}">
                <i class="active fa fa-dashboard"></i>
                <span>Accueil</span>
                </a>
            </li>
            <!-- <li class="sub-menu">
              <a href="{% url 'dashboard2' %}">
                <i class="fa fa-user"></i>
                <span>Accueil 2</span>
                </a>
            </li> -->
            <li class="sub-menu">
              <a href="{% url 'view_profile' %}">
                <i class="fa fa-user"></i>
                <span>Profile</span>
                </a>
            </li>
            <li class="sub-menu">
              <a href="{% url 'formations-availables' %}">
                <i class="fa fa-desktop"></i>
                <span>Formations</span>
                </a>
            </li>
            <li class="sub-menu">
              <a href="{% url 'ateliers' %}">
                <i class="fa fa-thumb-tack"></i>
                <span>Ateliers</span>
                </a>
            </li>
            <li class="sub-menu">
              <a href="{% url 'advanced_calendar_view' %}">
                <i class="fa fa-calendar"></i>
                <span>Calendrier</span>
                </a>
            </li>
            
          
           
            
            
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      