

{% include 'users/header.html' %}
{% load static %}

    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row">
         
          <!-- /col-lg-12 -->
          <div class="col-lg-12 ">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  
                  <li  class="active">
                    <a data-toggle="tab" href="#quizz" aria-expanded="false">Quizz</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  
<!----------------------------------------------------------------->
                  <!-- DEBUT COURS -->
                 
                  <!-- FIN COURS -->
<!----------------------------------------------------------------->
                  <!-- DEBUT EXEMPLE -->

            
                  <!-- FIN EXEMPLE -->
<!----------------------------------------------------------------->

                  <div id="quizz"  class="tab-pane active">
                    <form  action="{%url "validate_quizz" %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="formation_id" value="{{chap.frmt_id}}">
                      <input type="hidden" name="chap_id" value="{{chap.chap_id}}">
                      {% for qa in quizz_with_answers %}
                      <div class="row mt">
                        <div class="col-md-12">
                          <div class="white-panel pn">
                            <div class="panel-heading">
                              <div class="pull-left">
                                <h4><span class="badge bg-info">{{ qa.id }}</span> {{ qa.question.question_text }}</h4>
                              </div>
                              <br>
                            </div>
                            <div class="custom-check goleft mt">
                              <table id="todo" class="table table-hover custom-check">
                                <tbody>
                                  {% for answer in qa.answers %}
                                  <tr>
                                    <td>
                                      <span class="check"><input type="checkbox" class="checked" name="{{ chap.frmt_id }}_{{ chap.chap_id }}_{{ qa.question.question_id }}" value="{{ answer.answer_alias }}"></span>
                                    <b>Réponse {{ answer.answer_alias }}:</b> <a>   {{ answer.answer_text }}</a>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                              
                            </div>
                            <!-- /table-responsive -->
                          </div>
                          <!--/ White-panel -->
                        </div>
                        <!-- /col-md-12 -->
                      </div>
                      {% endfor %}
                      <br>
                      <div class=" add-task-row">
                        <a class="btn btn-success btn-sm pull-left"  data-toggle="modal" data-target="#Avertissement"><i class="fa fa-upload"></i> Envoyer les réponses</a>
             
                          <div class="modal fade" id="Avertissement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h4 class="modal-title" id="myModalLabel">Avertissement</h4>
                                </div>
                                <div class="modal-body">
                                  <h4>Etes-vous sûr(e) de vouloir envoyer vos réponses sur ce quizz?</h4>
                                  Vos réponses sur ce quizz seront envoyées à l'administrateur. <br><br>
                                  <b style="margin-top: 10px;">NB:Vous devez avoir une note plus de 50% pour pouvoir suivre le chapitre suivant.</b>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                  <button type="submit" class="btn btn-primary">Oui envoyer</button>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </form>
                    </div>



                  </div>
<!----------------------------------------------------------------->

                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>
    <!--main content end-->
    {% include 'users/footer.html' %}